@model Compras.com.Data.UsuarioFake

<h2>👁️ Detalhes do Usuário</h2>

<a href="/Admin/Index">Voltar</a>
<a href="/Login/Logout" style="float:right;">❌</a>

<hr />

<p><b>Nome:</b> @Model.Nome</p>
<p><b>Tipo:</b> @Model.Tipo</p>
<p><b>Email:</b> @Model.Email</p>
<p><b>Documento:</b> @Model.Documento</p>
<p><b>Endereço:</b> @Model.Endereco</p>
<p><b>Telefone:</b> @Model.Telefone</p>
<p><b>Contato:</b> @Model.Contato</p>
<p><b>Status:</b> @(Model.Ativo ? "Ativo" : "Bloqueado")</p>